
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400;1,600&family=Oxanium:wght@500;600;700&family=Roboto:ital,wght@0,900;1,700;1,900&family=Work+Sans:ital,wght@0,500;0,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 80%;
  margin: 0 auto;
}
@mixin btn{
  padding:10px 13px ;
  background: transparent;
  color: white;
  border: 1.5px solid #ffffff;
  border-radius: 25px;
  font-size: 1rem;
}
@mixin btn2{
  padding:13px 28px;
  background: linear-gradient(91.83deg, #7AF051 16.38%, rgba(194, 240, 81, 0.8) 116.75%);
  color: #090000;
  border:solid rgba(29, 246, 13, 0.78) ;
  border-radius: 25px ;
  font-size: 1rem;
}